<div class="landing">
    <div class="container">
      <div class="content_land">
        <div class="content">
          <div class="title">
            <span class="odoo">Odoo Migration
            </span>
            <h2>Connecting Business  <span class="change_color">business</span> Needs !</h2>
          </div>
          <p>
            Let us build and customize your Odoo modules with a hassle-free
            implementation based on your requirements. The right methodology is
            adapted in the right way. We at Akira Software Solutions take pride in
            serving as one of the pioneers of Odoo implementation company around
            the globe.
          </p>
        </div>
  
        <img src="assets/migration/land.png" alt="custom" />
      </div>
    </div>
  </div>


  
<section id="whyus">
    <div class="content_why">
      <div class="left_item">
        <img src="assets/migration/photo1.png" alt="why" />
        <div class="year">
          <h3>42 +</h3>
          <span>Years of Experience</span>
        </div>
      </div>
  
      <div class="right_item">
          <h2>Why Odoo Migration   <span class="change_color">Remaining?</span></h2>
  
          <p>Odoo migration is a crucial area to be dealt with care under the expert guidance of Odoo developers.</p>
          <img src="assets/migration/photo2.png" alt="">
      </div>
    </div>
  </section>


  
  
<section id="concept">
    <!-- <div class="container"> -->
        <div class="content_concept">
            <div class="line"></div>
            <div class="content">
                <h2>I Have a concepts in mind . Let’s bring it to life and make it great .</h2>
                <p>Contact us now. We would love to hear from you!</p>
            </div>
    
            <div class="apply">
                <button>let,s talk</button>
                <i class="fa-solid fa-arrow-right"></i>
    
            </div>
           
        </div>
    <!-- </div> -->
 

</section>
  