<div class="landing" >
    <div class="container">
        <div class="content_land">
            <div class="content">
                <h2>Contact <span class="change_color">Us</span></h2>
                <p>get in touch and let us know how we can help .</p>
            </div>
        
            <img src="assets/contact/landcon.png" alt="land">
        </div>
    </div>
    
  
</div>



<section id="get_touch">

    <div class="content_touch">
        <div class="left">
            <div class="thead">
    
                <h3>Get in touch</h3>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
    
            <div class="tbody">
    
                <div class="icon">
                    <div class="box">
                        <i class="fa-solid fa-location-dot"></i>
                        <div class="content_icon">
                            <h3>head office</h3>
                            <p>Lorem ipsum dolor si.</p>
                        </div>
                    </div>
    
                    <div class="box">
                        <i class="fa-solid fa-envelope"></i>
                        <div class="content_icon">
                            <h3>Email us</h3>
                            <p>info{{'@'}}info.com</p>
                        </div>
                    </div>
    
                    <div class="box">
                        <i class="fa-solid fa-phone-volume"></i>
                        <div class="content_icon">
                            <h3>call us</h3>
                            <p>0199 999 999</p>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <div class="tfoot">
    
                <div class="social">
                    <h3>follow our social media</h3>
    
                    <div class="icon_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-telegram"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
    
            </div>
        </div>
    
        <div class="right">
            <h3>Send us a <span class="change_color">message</span> </h3>
    
    
            <form>
    
                <div class="boxes">
                    <div class="box">
                        <label for="name">Name</label>
                        <input type="text"  id="name">
                    </div>
                    
                    <div class="box">
                        <label for="com">Company</label>
                        <input type="text" id="com">
                    </div>
                </div>
    
                <div class="boxes">
                    <div class="box">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone">
                    </div>
                    
                    <div class="box">
                        <label for="em">Email</label>
                        <input type="text" id="em">
                    </div>
                </div>
    
    
                <div class="msg">
                    <label for="msg">Message</label>
                    <textarea id="msg"></textarea>
                </div>
    
    
                <button type="submit">Send</button>
            </form>
        </div>
    
    </div>

    
</section>