@import "../../../abstracts/vars";
@import "../../../abstracts/mixin";

header {
  width: 100%;
  height: 133px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000;

  // &.active{
  //   background-color: #000000;
  //   // color: white;
  // }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .menu {
      display: none;
      cursor: pointer;
      i {
        font-size: 30px;
        // color: $primary_color;
      }

      @media (max-width: 767px) {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding-right: 16px;
      }
    }
    ul {
      top: -400px;
      display: flex;
      align-items: center;
      gap: 32px;
      &.show {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 200px;
        background: #000000e3;
        position: absolute;
        left: 0;
        top: 100%;
        padding: 50px;

     @media(max-width:767px){
      align-items: flex-start;
     }
      }
      @media (max-width: 767px) {
        display: none;
      }

      // }
      li {
        a {
          text-transform: capitalize;
          font-size: 16px;
          // color:$primary_color;
          font-weight: 500;


        


          @media (max-width: 991px) {
       font-size: 14px;
          }

          &.active {
            color: $secondary_color;
          }
          i {
            font-size: 10px;
            color: $secondary_color;
          }
        }
      }
    }
  }

  &.home_page {


    &.active{
      background-color: #000000e6;
      color: $primary_color;
    }
    ul {
      li {
        a {
          color: $primary_color;
        }
      }
    }

    .show{
      li{
        a{
          color:$primary_color ;
        }
      }
    }

    .menu {
       i{
        color: $primary_color;
       }
    }

    .drop_down {
      background-color: $primary_color;
      ul {
        li {
          a {
            color: #000000;
          }
        }
      }
    }

    .logo {
      animation: heart 2s linear infinite alternate;
      h2 {
        color: $primary_color;
      }

      span {
        color: $primary_color;
      }
    }
  }

  &.other_page {
    height: 91px;
    // line-height: 91px;


    
    &.active{
      background-color:#000000e6;
      // color: white;

      .logo{
        div{
          h2{
            color: $primary_color
          }
          span{
            color:$primary_color;
          }
        }
        
      }

      .menu {
        i{
          color: $primary_color;
        }
      }

     
    }
    ul {
      li {
        a {
          color: #000000;
          
    &.scroll{
      color: $primary_color;
    }
        }
      }
    }


    .show{
      li{
        a{
          color: $primary_color;
        }
      }
    }

    .menu {
      i{
        color: #000000;
      }
    }

    .drop_down {
      background-color: $primary_color;
      box-shadow: 0px 0px 3px #0000008f;

      ul {
        li {
          a {
            color: #000000;

            &.active{
              color: $secondary_color;
            }
          }
        }
      }
    }


   

    .logo {
      
   

    
      animation: heart 2s linear infinite alternate;
    
      div {
        h2 {
          color: #000000;
        }

        span {
          color: #000000;
        }
      }
    }
  }


}





.services {
  position: relative;

  .drop_down {
    position: absolute;
    border-radius: 10px;
    width: 248px;
    height: 312px;
    background-color: $primary_color;
    color: #000000;
    padding: 15px 10px;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;

      li {
        a {
          color: #000000;
          text-transform: capitalize;
          font-size: 16px;
          font-weight: 400;
          margin: 11px 0px;
        }
      }
    }
  }
}



@keyframes heart {
  0% {
    transform: scale(1);      /* بداية الأنيميشن مع حجم طبيعي */
    color: #fff;              /* اللون الأصلي */
  }
  50% {
    transform: scale(1.1);    /* تكبير الحجم قليلاً */
    color: #ff6347;           /* تغيير اللون أثناء الحركة */
  }
  100% {
    transform: scale(1);      /* العودة للحجم الطبيعي */
    color: #fff;              /* العودة للون الأصلي */
  }
}