<div class="landing">
  <div class="container">
    <div class="content_about">
      <h2>
        Welcome To <span class="change_color">Slovelist</span> Software
        Solutions..
      </h2>
      <p>Offering a comprehensive range of digital solutions</p>
    </div>

    <div class="img_about">
      <img src="assets/about/bgabout.png" alt="bg" />
      <div class="skills">
        <div class="box">
          <h3>2000+</h3>
          <p>Projects</p>
        </div>
        <div class="box">
          <h3>400+</h3>
          <p>clients</p>
        </div>
        <div class="box">
          <h3>17+</h3>
          <p>country</p>
        </div>
        <div class="box">
          <h3>10+</h3>
          <p>years</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="company">
  <div class="content">
    <h2>Our <span class="change_color">Company</span></h2>
    <p>
      Enjoy the business world with us. We at Akira Software Solutions maintain
      our position as a leading IT company delivering creative solutions and
      results. Hearty applause to the entire team for the dedication and
      attention to detail. Our design-centric approach and technical expertise
      have made our fame the most trustworthy among clients. We are known among
      customers for our quality services at the most competitive rates. We are a
      group of industry professionals who always go the extra mile to assure our
      clients' satisfaction in everything we deliver. Rather than delivering
      cookie-cutter solutions, we the pioneers of IT company around the globe,
      analyze our client's needs and create a tailored solution to reach your
      business goals.
    </p>
  </div>
</section>

<section id="accor">
  <div class="content_acco">
    <h2>
      We Work According To Our Core Values Honesty ,<span class="change_color"
        >Hard Work And Trust.</span
      >
    </h2>

    <div class="items">
      <div class="item">
        <div class="img">
          <img src="assets/about/acco1.png" alt="" />
        </div>

        <div class="con_item">
          <h4>Our Commitment</h4>
          <p>
            At Solvelist Software Solutions, we are committed towards achieving
            high levels of customer satisfaction by ensuring quality, cost
            effective and timely solutions. It would be our endeavor to achieve
            this with technical, financial, business and moral excellence.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="assets/about/acco2.png" alt="" />
        </div>

        <div class="con_item">
          <h4>Use Of Latest Technology</h4>
          <p>
            Our in-depth expertise in mobile app development, digital marketing,
            UI/UX designing, and ERP development can help you reduce costs and
            maximize your profits with high-quality digital products.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="img"><img src="assets/about/acco3.png" alt="" /></div>

        <div class="con_item">
          <h4>Our Experience</h4>
          <p>
            This is what enables us to analyze your needs quickly and thus
            deliver on our promises faster than our competitors, without costing
            as much. Our staff is full time and committed to our clients, rather
            than a wandering band of sub-contractors interested only in working
            for as many hours as possible.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="assets/about/acco4.png" alt="" />
        </div>

        <div class="con_item">
          <h4>Quality Is Our Holistic Cncept</h4>
          <p>
            Quality is an all encompassing part of our business and lives. We
            take particular concern in building strong quality processes into
            every area of our work. We consider every client to have the
            privilege of experiencing total satisfaction through high quality
            services.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="assets/about/acco5.png" alt="" />
        </div>

        <div class="con_item">
          <h4>Deticated Team</h4>
          <p>
            We are successful owing to our skills and qualifications and famed
            as the best IT company. Our designers and developers are specialized
            to synergize between their skill and your requirements. We extend
            creative affordable services and we work closely with you on every
            step of the way.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="whyus">
  <div class="content_why">
    <div class="left_item">
      <img src="assets/about/why1.png" alt="why" />
      <div class="year">
        <h3>42 +</h3>
        <span>Years of Experience</span>
      </div>
    </div>

    <div class="right_item">
        <h2>Why <span class="change_color">Us ?</span></h2>

        <p>Make your pitch perfect! Let us provide the best quality services and maintain the highest level of customer satisfaction. Stay cool! We give the best and go the extra mile to ensure every project is delivered timely.</p>
        <img src="assets/about/why2.png" alt="">
    </div>
  </div>
</section>



<section id="concept">
    <div class="content_concept">
        <div class="line"></div>
        <div class="content">
            <h2>I Have a concepts in mind . Let’s bring it to life and make it great .</h2>
            <p>Contact us now. We would love to hear from you!</p>
        </div>

        <div class="apply">
            <button>let,s talk</button>
            <i class="fa-solid fa-arrow-right"></i>

        </div>
       
    </div>

</section>
