@import "../../../abstracts/vars";

.landing {
  background-color: $primary_color;
  width: 100%;
  position: relative;
  height: 100vh;
  .content_about {
    padding-top: 110px;
    text-align: center;
    
    @media (max-width:767px){

  padding-top: 135px;
    }

    @media (min-width:0px) and (max-width:320px) {
            
     padding-top: 95px;       
         
    }



    @media (min-width:768px) and (max-width: 991px) {
     padding-top:150px; 
    }
    h2 {
      width: 679px;
      font : {
        size: 34px;
        weight: 500;
      }
      margin: auto;


      @media (max-width:767px){

        font-size: 18px;
        width: 100%;
  
      }
    }
    p {
      font : {
        size: 18px;
        weight: 400;
      }
      color: #484848;
      // margin-top: 6px;
      margin: 20px 0px;
      @media (max-width:767px){

        font-size: 14px;
    
      }

      @media (min-width:0px) and (max-width:320px) {
            
            margin: 10px 0px;
         
      }
    }


    
   
  }
  .img_about {
    margin-top: 70px;

    @media (max-width: 767px) {
          margin-top: 30px;
       
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 300px;
      object-position: 0px 5%;
      margin-top: 22px;
      display: block;
      object-fit:cover;
      object-position: 28% 8%;
      border-radius: 40px 40px 0px 0px;


      
      @media (max-width:767px){

        // width: 100%;
  height: auto;
      }
    }

    .skills {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      flex-wrap: wrap;


      
      @media (max-width:767px){

  
  gap: 10px;
      }



      @media (min-width:768px) and (max-width: 991px) {
      margin-top: 60px;
      }
      .box {
        width: 160px;
        height: 92px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        @media (min-width:0px) and (max-width:320px) {
          width: 120px;
          height: 70px;
          
       
        }

        h3 {
          font : {
            size: 32px;
            weight: 600;
          }
          color: $secondary_color;
          line-height: 36px;


          @media (max-width: 767px) {
       font-size: 18px;
          }
        }

        p {
          font: {
            size: 24px;
            weight: 400;
          }
          color: #7d7d7d;
          @media (max-width: 767px) {
       font-size: 14px;
          }


        
        }
      }
    }
  }
}

#company {
  .content {
    width: 1064px;
    min-height: 697px;


    
    @media (max-width:1200px){

  width: 100%;

    }

    border-radius: 40px;
    background-color: $primary_color;
    margin-inline: auto;
    padding: 50px;
    text-align: center;
    h2 {
      font-size: 32px;
      font-weight: 500;

      margin: 20px 0px;


      
      @media (max-width:767px){

  font-size: 18px;
      }

      @media (min-width:768px) and (max-width: 991px) {
      font-size: 22px;

      }
    }
    p {
      font-size: 28px;
      font-weight: 400;
      color: #000000;
      line-height: 42px;
      text-align: justify;
      
      @media (max-width:767px){

  font-size: 14px;
  line-height: 32px;

      }


      @media (min-width:768px) and (max-width: 991px) {
      font-size: 16px;
      }
    }
  }
}

#accor {
  .content_acco {
    width: 1227px;
    min-height: 1070px;
    background-color: $primary_color;
    border-radius: 40px;
    margin: auto;
    padding: 50px;


    
    @media (max-width:1200px){

  width: 100%;
  padding: 25px;
    }


    h2 {
      font-size: 40px;
      font-weight: 500;
      color: #000000;
      width: 793px;
      margin: auto;
      text-align: center;
      margin-bottom: 30px;


      
      @media (max-width:767px){

  width: 100%;
  font-size: 18px;
      }


      @media (min-width:768px) and (max-width: 991px) {
      width: 100%;
      font-size: 22px;
      }
    }

    .items {
      // display: flex;
      // // justify-content: space-between;
      // gap: 10px;
      // flex-wrap: wrap;


      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(490px,1fr));
      gap: 40px;


      
    @media (min-width: 992px) and (max-width: 1200px) {
      margin-top: 80px; 
     }
      @media (max-width: 767px) {
          
       grid-template-columns: 1fr;
      }


      @media (min-width:768px) and (max-width: 1200px) {
      grid-template-columns: repeat(2,1fr);
      gap: 70px;
      }


      
      @media (max-width:767px){
margin-top: 60px;
gap: 65px;
  
      }
      .item {
        width: 522px;

        min-height: 210px;
        border-radius: 20px;
        background: #f6f8fb;
        display: flex;
        justify-content: space-between;
        // gap: 50px;
        flex-wrap: wrap;
        padding: 10px;
        // flex-wrap: wrap;

        align-items: center;




        
      @media (max-width:767px){
position: relative;
  width: 75%;
  gap: 15px;

  width: 100%;
      }


      @media (min-width:768px) and (max-width: 1200px) {
      width: 100%;
      position: relative;
      }
        .img {
            // text-align: center;

          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background-color: $primary_color;

          @media (min-width:768px) and (max-width: 1200px) {
      
            position: absolute;
            left: 50%;
            top:-42px;
            transform: translateX(-50%);
          }

          
      @media (max-width:767px){
position: absolute;
top: -45px;
left: 50%;
transform: translateX(-50%);
  
      }
        }
        .con_item{
            width: 380px;
            h4{
                font-size: 20px;
                font-weight: 500;


                @media (max-width: 767px) {
          
       font-size: 18px;
                }
            }
            p{
                font-size: 16px;
                font-weight: 400;

                @media (max-width: 767px) {
          
       font-size: 14px;
       margin-top: 10px;
                }
            }


            
      @media (max-width:1200px){

        margin-top: 35px;
        text-align: center;

        width: 100%;
  
      }
        }
      }

    }
  }
}


#whyus{


  // @media (max-width: 767px) {
  //  padding-bottom: 150px;       
       
  // }
    .content_why{
        width: 1228px;
        min-height: 600px;
        border-radius: 40px;
        margin: auto;
        background-color: $primary_color;
        padding: 50px;
        display: flex;
        gap: 15px;

        flex-wrap: wrap;


        
      @media (max-width:767px){
        padding: 25px;

  
        flex-direction: column-reverse;
        width: 100%;
      }



      @media (min-width:768px) and (max-width: 991px) {
      flex-wrap: wrap;
      width: 100%;

      }

      @media (min-width: 992px) and (max-width: 1200px) {
      width: 100%;
      
      }



        .year{
            width: 305px;
            height: 64px;
            border-radius: 10px;
            background-color: $secondary_color;
            margin-top: 10px;
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 0px 15px;


            @media (min-width:768px) and (max-width: 991px) {
      width: 100%;
      text-align: center;
      justify-content: center;
     
            }

            @media (min-width: 992px) and (max-width: 1200px) {
      width: 100%;
            }


            
      @media (max-width:767px){
width: 100%;
  justify-content: center;
      }
            h3{
                font-size: 32px;
                font-weight: 700;
                color: $primary_color;
            }
            span{
                display: block;
                font-size: 16px;
                font-weight: 500;
                color: $primary_color;
                width: 88px;
            }
        }


        .left_item{
          @media (min-width:768px) and (max-width: 991px) {
      width: 100%;
          
    }
    @media (min-width: 992px) and (max-width: 1200px) {
     width: 30%; 
    }
        }

        .right_item{



          @media (min-width: 992px) and (max-width: 1200px) {
      width: 68%;
          }
            h2{
                font-size: 28px;
                font-weight: 500;


                
      @media (max-width:767px){

  font-size: 18px;
      }
            }
            p{
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                margin: 21px 0px;
                width: 741px;

                
      @media (max-width:767px){

  width: 100%;
  font-size: 14px;
      }


      @media (min-width:768px) and (max-width: 1200px) {
      width:100%;
      font-size: 16px;

    }
  
            }

            .img_right{
              width: 100%;



            }
        }
    }

    .img_left{
      width: 100%;

      @media (min-width:768px) and (max-width: 991px) {
      width: 100%;
      }
    }
    
}


#concept{



  @media (max-width: 767px) {
          
  //  margin-top:50px;     
  }
    .content_concept{
        width: 1064px;
        min-height: 252px;
        border-radius: 20px;
        background-color: $secondary_color;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px;
        position: relative;
        overflow: hidden;

        flex-wrap: wrap;

        @media (max-width:1200px){

          // font-size: 16px;
      
          padding: 25px;
          width: 100%;
        }

        &::after{
            content: '';
            position: absolute;
            right: -131px;
            bottom: -125px;
            width: 583px;
            height: 197px;
            border: 2px solid rgba($color: #ffffff, $alpha: 0.2);

            border-radius: 50%;
            transform: rotate(-4deg);
            z-index: 1;

            
      @media (max-width:767px){

  bottom: -160px;
      }

        }

        .line{
            position: absolute;
            right: -79px;
            bottom: -55px;
            width: 583px;
            height: 197px;
            border: 2px solid rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            transform: rotate(-9deg);

            
      @media (max-width:767px){
bottom: -129px;
  
      }
        }

        &::before{
            content: '';
            position: absolute;
            right: -131px;
            bottom: -85px;
            width: 583px;
            height: 197px;
            border: 2px solid rgba($color: #ffffff, $alpha: 0.2);

            border-radius: 50%;
            transform: rotate(-4deg);

            
      @media (max-width:767px){

  bottom: -142px;
      }
        }
        .content{
            h2{
                width: 558px;
                font-size: 32px;
                color: $primary_color;
                font-weight: 600;

                
      @media (max-width:767px){

  font-size: 18px;
  width: 100%;
      }
            }

            p{
                font-size: 16px;
                font-weight: 400;
                color: $primary_color;
                margin-top: 8px;
            }

            
      @media (max-width:767px){

  font-size: 14px;
  margin-top: 17px;
      }


        }

        .apply{
            border: 2px solid $primary_color;
            background-color: $secondary_color;
            button{
                background-color: $primary_color;
                color: $secondary_color;
            }
            i{
                color:$primary_color;
            }
        }
    }
}

.apply {
position: relative;
z-index: 2;

  @media (max-width:767px){
margin-top: 22px;
width: 134px;
height: 43px;
  }
}
