@import '../../../abstracts/vars';

.scroll_bar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
right: -100%;
bottom: 10px;
background-color: $secondary_color;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;


&.show{
    right: 20px;
}

.scroll_val{
    width: 70px;
    height: 70px;
    background-color: $primary_color;
    // width: ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-size: 25px;
    }

}
}


