<div class="landing">
  <div class="content_land">
    <!-- <div class="container"> -->
    <div class="content" data-aos="fade-right">
      <span class="title">ERP Solutions</span>
      <h2>
        Trying To Automate Your
        <span class="change_color">Business</span> Process?
      </h2>
      <p>Invest In ERP Solutions _ Business made easier...</p>
      <div class="apply">
        <button>Let’s Talk</button>
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>
    <img src="assets/overview/land.png" alt=""  data-aos="fade-left"/>
  </div>
</div>

<!-- </div> -->

<section id="manage">
  <div class="container">
    <div class="glopal_heading" data-aos="fade-right">
      <h2>Manage Your <span class="change_color">Organization</span></h2>
      <p>
        You have reached your destination!! Let's simplify your organizational
        processes in areas of manufacturing, retail, sales, distribution, and
        service sectors. With our customized ERP solution, you can automate
        business processes, manage inventory accounts, and maintain complete
        control over your company's operations.
      </p>
    </div>

    <div class="content_manage">
      <img src="assets/overview/1.png" alt="1img"  data-aos="fade-right"/>
      <div class="content" data-aos="fade-left">
        <h2>Technology Made Simple</h2>
        <p>
          As an Odoo Development company, we set up ERP software with customized
          roles, business intelligence, fields, changes, interface enhancements,
          and custom fields, among other things. We evaluate your business
          process, analyze industry challenges, listen to your goals and advise
          the best solutions.
        </p>
        <div class="apply">
          <button>Let’s Talk</button>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="choose">
  <div class="container">
    <div class="content_choose">
      <div class="content" data-aos="fade-right">
        <h2>Why Choose ERP?</h2>
        <p>
          From supply chain to inventory to accounting to HR, Odoo ERP has all
          that you desire that empowers the entire business workflow. Our
          professional team of ERP developers, project managers, quality
          assurance engineers, business analysts, and information technology
          consultants initiates a thorough study of your business needs,
          strategy, and current business processes to ensure that we can propose
          and implement an ERP system that is tailored to your unique company's
          requirements.
        </p>
        <div class="apply">
          <button>Join Our Team</button>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>

      <img src="assets/overview/2.png" alt="2img"  data-aos="fade-left"/>
    </div>
  </div>
</section>

<section id="img" data-aos="fade-up">
  <div class="container">
    <img src="assets/overview/3.png" alt="img3" class="img1" />
    <img src="assets/overview/texture1.png" alt="texture" class="texture" />
  </div>
</section>

<section id="support">
  <div class="content_support">
    <div class="content" data-aos="fade-right">
      <h2><span class="change_color">Development</span> & Support</h2>
      <p>
        Powered with years of experience, we believe in 100% transparency,
        dedication, and long-term commitment to our customers. Our support team
        at Akira Software Solutions never gets a second thought before going
        that extra mile to ensure perfection in every project.
      </p>
    </div>
    <img src="assets/overview/4.png" class="support1" data-aos="fade-left">
    <img src="assets/overview/texture2.png" alt="texture" class="texture2">
    <img src="assets/overview/texture3.png" alt="texture" class="texture3">
  </div>
</section>



<section id="cool">
    <div class="content_cool">
        <div class="content">
            <h2>Have an Idea in mind? Let’s transform <span class="change_color">something cool.</span> </h2>
            <p>Contact us now. We would love to hear from you!</p>
            <div class="apply">
                <button>Join Our Team</button>
                <i class="fa-solid fa-arrow-right"></i>
              </div>
        </div>

        <img src="assets/overview/5.png" alt="5img">
    </div>

</section>