<div class="landing">
  <div class="container">
    <div class="content">
      <h1>
        We bring your concepts<img
          src="assets/home/landing/sahm.png"
          alt=""
        /><br />
        to life, turning ideas into technology .
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur. Ut consequat massa eget volutpat
        ac tincidunt diam. Nibh facilisis sociis nibh facilisis. Urna dis a
        netus in eu convallis interdum lorem.
      </p>

      <div class="apply">
        <button>APPLY NOW</button> <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>

    <div class="skills">
      <div class="con_img">
        <div class="background"></div>
        <img
          src="assets/home/landing/img.png"
          class="person"
          alt="skills_img"
        />
      </div>

      <div class="content_skills">
        <ul class="bollets">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <ul class="skills_bollet">
          <div class="bollet_left"></div>

          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>

          <div class="bollet_bottom"></div>
        </ul>
      </div>
    </div>

    <div class="img_skills">
      <div class="img">
        <img src="assets/home/landing/skills1.png" alt="" />
        <img src="assets/home/landing/skills2.png" alt="" />
        <img src="assets/home/landing/skills3.png" alt="" />
      </div>

      <div class="con_img">
        <h5>14M</h5>
        <p>Active Users</p>
      </div>
    </div>
  </div>
</div>

<!-- !!!!!!!!!!!! Delivery !!!!!!!!!!!!!!!!!!!!11 -->

<section id="delevery">
  <div class="container">
    <div class="glopal_heading">
      <h2 class="title_glopal">
        We Take Full Responsibility For <span>Delivering You On Time</span>
      </h2>
      <p class="desc_glopal">
        Regardless of the project volume, we never compromise on the quality of
        our services to maintain the highest level of customer satisfaction
      </p>
    </div>

    <div class="texture_bol">
      <img src="assets/glopal/1.png" alt="glopal" />
    </div>

    <div class="items_delevery">
      <div class="item">
        <h3>On - Time Delivery</h3>
      </div>
      <div class="item">
        <h3>Quality Services</h3>
      </div>

      <div class="item">
        <h3>Best Price Guarnteed</h3>
      </div>
    </div>

    <div class="onTime">
      <div class="ontime_del">
        <h3>On - Time Delivery</h3>
        <p>
          Our proficient team goes the extra mile to make sure every project is
          delivered on time.
        </p>
        <span>Benefits :</span>
        <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ul>

        <div class="apply">
          <button>Apply Now</button>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
      <img src="assets/home/delevery/delevery.png" alt="" />
    </div>
  </div>
</section>

<section id="whoweare">
  <div class="container">
    <div class="who">
      <h4><span class="change_color">Who</span> we are</h4>

      <h3>
        A Complete Digital Solution with
        <span class="change_color">Innovative Ideas.</span>
      </h3>
      <p>
        Slove list Software Solutions is a product development and consulting
        company offering quality services to growing business industries. As a
        software development company, our in-depth expertise in Odoo ERP, Web
        apps, Mobile apps, e-commerce, SEO and other digital solutions, can help
        you reduce costs and maximize your profits with high-quality digital
        products. It's never an I!! It’s WE, The Team… We are a team of
        professionals with a global work record of converting thousands of
        concepts into live results. Looking forward to boosting your digital
        presence? Reach us...
      </p>

      <img src="assets/home/who/3.png" alt="who3" />
    </div>

    <div class="img">
      <img src="assets/home/who/2.png" class="texture" alt="2.png" />
      <img src="assets/home/who/1.png" alt="" />
    </div>
  </div>
</section>

<br />
<!-- !!!!!!!!!!!!!better!!!!!!!!!!!!!!!!!!1 -->

<section id="better">
  <div class="container">
    <div class="glopal_heading">
      <h2 class="title_glopal">
        Here Comes The Way We Follow… <span> To Deliver Better!!</span>
      </h2>
      <p class="desc_glopal">
        Regardless of the project volume, we never compromise on the quality of
        our services to maintain the highest level of customer satisfaction
      </p>
    </div>

    <div class="items">
      <div class="item">
        <div class="img">
          <img src="assets/home/better/screen.png" alt="screen" />
        </div>
        <div class="content">
          <h4>Consultation</h4>
          <p>
            After consultation, we sign an NDA and define the project scope.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="assets/home/better/docu.png" alt="screen" />
        </div>
        <div class="content">
          <h4>Documentation</h4>
          <p>
            After consultation, we sign an NDA and define the project scope.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="assets/home/better/box.png" alt="screen" />
        </div>
        <div class="content">
          <h4>Delivery</h4>
          <p>
            After consultation, we sign an NDA and define the project scope.
          </p>
        </div>
      </div>
    </div>

    <div class="items2">
      <div class="item">
        <div class="img">
          <img src="assets/home/better/resource.png" alt="screen" />
        </div>
        <div class="content">
          <h4>Resource Allocation</h4>
          <p>
            After consultation, we sign an NDA and define the project scope.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="assets/home/better/feed.png" alt="screen" />
        </div>
        <div class="content">
          <h4>Feedback Resolution</h4>
          <p>
            After consultation, we sign an NDA and define the project scope.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- !!!!!!!!!!!!!!approach -->
<section id="approach">
  <div class="approach_img">
    <div class="container">
        <div class="content">
            <h4>Our Approach</h4>
            <h2>
              Are You Looking Forward
              <span class="change_color"
                >To Brilliant Minds That Deliver Brilliant Thoughts?</span
              >
            </h2>
      
            <p>
              Welcome to Akira Software Solutions!! Being the most successful and
              experienced craftsmanship in the tech industry, we provide innovative
              solutions for a better tomorrow. Our ability to deliver superior
              solutions results from our expertise for many years. We are aware of the
              aspects required to be a successful chore, and our agile methodology
              helps us deliver each project on time. One of the best software company
              round the globe for our unmatched services. Great innovations starts
              here.
            </p>
            <div class="apply">
                <button class="">APPLY NOW </button>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>

        <img src="assets/home/approach/appro.png" alt="app">
     
      
    </div>
  </div>
</section>

