<footer>
    <div class="container">
        <div class="contact">
            <a class="logo"><img src="assets/header/logo.png" alt="logo"> 
                <div> <h2>Solve List </h2><span>find , fix & flourish</span></div>
                </a>

                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, quod. </p>


                <div class="icon_contact">
                    <div class="icon_msg">
                        <i class="fa-solid fa-envelope"></i>
                        <span>Support {{'@' }}solvelist.com</span>
                    </div>

                    <div class="icon_phone">
                        <i class="fa-solid fa-phone"></i>
                        <span>+911325568976880</span>
                    </div>
                </div>
        </div>




        <div class="content">
            <div class="company">
                <h3>company</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us </a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Why Choose Us </a></li>
                    <li><a href="#">Testimonials </a></li>
                </ul>
            </div>
    
    
            <div class="explore">
                <h3>Explore</h3>
                <ul>
                    <li><a href="#">FAQS</a></li>
                    <li><a href="#">How it Works </a></li>
                    <li><a href="#">Qualifications</a></li>
                    <li><a href="#">Tool Kits </a></li>
                    <li><a href="#">Market Place </a></li>
                </ul>
            </div>
    
    
            
            <div class="quick">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">Apply Now</a></li>
                    <li><a href="#">Contact us </a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#"> Privacy Policy  </a></li>
                    <li><a href="#">Terms of Service </a></li>
                </ul>
            </div>
        </div>
       
    </div>
</footer>