<div class="landing">
  <div class="container">
    <div class="content_land">
      <div class="content">
        <div class="title">
          <span class="odoo">Odoo Implementation </span>
          <h2>Achieve <span class="change_color">business</span> Goals</h2>
        </div>
        <p>
          Let us build and customize your Odoo modules with a hassle-free
          implementation based on your requirements. The right methodology is
          adapted in the right way. We at Akira Software Solutions take pride in
          serving as one of the pioneers of Odoo implementation company around
          the globe.
        </p>
      </div>

      <img src="assets/implement/lan.png" alt="custom" />
    </div>
  </div>
</div>


<section id="support">
    <div class="content_support">
      <div class="content">
        <h2><span class="change_color">Why Our </span> Specialists?</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur. Et vitae sociis habitant eget eget ac tellus. Tortor molestie parturient ipsum montes.
        </p>
        

        <div class="skills">
            <ul class="left">
                <li>Skilled Odoo Developers</li>
                <li>Best coding standards</li>
                <li>100% data privacy</li>
                <li>Satisfied customers</li>

            </ul>

            <ul class="right">
                <li>Experienced UI/UX Developers</li>
                <li>Day-to-day work reports</li>
                <li>Technical expertice and experience</li>
                <li>Enriched with high quality deliverables</li>

            </ul>
        </div>
      </div>
      <img src="assets/overview/4.png" alt="">
      <img src="assets/overview/texture3.png" alt="texture" class="texture3">
    </div>
  </section>



  
<section id="accor">
    <div class="content_acco">
      <div class="glopal_heading">  <h2>
        See How Odoo <span class="change_color"> Implementation Works? </span>
      </h2>
      <p>Lorem ipsum dolor sit amet consectetur. Sollicitudin odio faucibus est posuere nibh quam. Amet sed morbi molestie egestas viverra.</p>
    </div>
    
  
      <div class="items">
        <div class="item">
          <div class="img">
            <img src="assets/implement/icon1.png" alt="" />
          </div>
  
          <div class="con_item">
            <h4>Business Review</h4>
            <p>
              We analyze your business prerequisites and propose the best solution.
            </p>
          </div>
        </div>
  
        <div class="item">
          <div class="img">
            <img src="assets/implement/icon2.png" alt="" />
          </div>
  
          <div class="con_item">
            <h4>Requirement Analysis</h4>
            <p>
              Through Odoo implementation, we comprehend and analyze your business needs.
            </p>
          </div>
        </div>
  
        <div class="item">
          <div class="img"><img src="assets/implement/icon3.png" alt="" /></div>
  
          <div class="con_item">
            <h4>Custom Development</h4>
            <p>
              Our customization and development module serve you with new functionalities and features meeting all your desired business workflows.
            </p>
          </div>
        </div>
  
        <div class="item">
          <div class="img">
            <img src="assets/implement/icon4.png" alt="" />
          </div>
  
          <div class="con_item">
            <h4>Odoo Deployment</h4>
            <p>
              After development, we deploy the system and configure ERP functions to fit your company’s needs, enabling full customization benefits.
            </p>
          </div>
        </div>
  
        <div class="item">
          <div class="img">
            <img src="assets/implement/icon5.png" alt="" />
          </div>
  
          <div class="con_item">
            <h4>Live Support</h4>
            <p>
              We help you to figure out in case of queries, issues or bug and train the users ahead.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  
<section id="concept">
    <!-- <div class="container"> -->
        <div class="content_concept">
            <div class="line"></div>
            <div class="content">
                <h2>I Have a concepts in mind . Let’s bring it to life and make it great .</h2>
                <p>Contact us now. We would love to hear from you!</p>
            </div>
    
            <div class="apply">
                <button>let,s talk</button>
                <i class="fa-solid fa-arrow-right"></i>
    
            </div>
           
        </div>
    <!-- </div> -->
 

</section>