@import "../../../abstracts/vars";
.landing {
  width: 100%;
  height: 100vh;
  background-color: $primary_color;
  position: relative;
  .content_land {
    padding-top: 120px;
    .content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 47px;
      .title {
        width: 414px;
        span.odoo {
          font-size: 24px;
          font-weight: 500;
          color: #7d7d7d;
        }
        h2 {
          width: 414px;
          font-weight: 500;
          font-size: 40px;
          margin-top: 10px;
        }
      }

      p {
        width: 522px;
        font-size: 20px;
        font-weight: 500;
        color: #484848;
      }
    }
  }

  img{
    width: 100%;
    object-position: center;
    object-fit: cover;
    height: 419px;
    border-radius: 40px 40px 0px 0px;
  }
}


.heading{

    margin-top: 120px;
    margin-bottom: 60px;
}



#odoo_integ{
    width: 1227px;
    height: 1015px;
    background-color: $primary_color;
    border-radius: 40px;
    margin: auto;
    .content_integ{

        padding: 0px 50px;
     
        h3{
            font-size: 28px;
            font-weight: 500;

        }

        h3 , li {
            margin-bottom: 15px;

        }

        
  ul {

    margin-left: 50px;
    li {
      margin: 20px 0px;
      font-size: 16px;
      font-weight: 400;
      width: 320px;
      position: relative;
      &::before{
        
        content:'\f00c';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: $secondary_color;
        margin-right: 16px;
        position: absolute;
        left: -40px;
        color: $primary_color;
        text-align: center;
        line-height: 21px;


      }
    }
  }
        
        .top{
            display: flex;
            align-items: center;
            gap: 20px;

        }

        .body{
            display: flex;
            margin-top: 80px;
            gap: 167px;
        }
    }
}




#support{
    .content_support{
        position: relative;
        display: flex;
        align-items: flex-start;
        height: 660px;
        .content{
            width: 847px;
            height: 397px;

            background-color: $primary_color;
            border-radius: 0px 40px 0px 0px;
            padding-left: 87px;
            padding-top: 10px ;
            position: absolute;
            left: 0;
            top: 172px;
            z-index: 1;



                 
  ul {

    margin-left: 50px;
    li {
      margin: 20px 0px;
      font-size: 16px;
      font-weight: 400;
      width: 370px;
      position: relative;
      &::before{
        
        content:'\f00c';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: $secondary_color;
        margin-right: 16px;
        position: absolute;
        left: -40px;
        color: $primary_color;
        text-align: center;
        line-height: 21px;


      }
    }
  }

        }
        img{
            position: absolute;
            right: 0;

        }
        .texture2{
            position: absolute;
            top: -5%;
    right: 44%;
    z-index: -1;

        }

        .texture3{
            position: absolute;
            bottom: 29px;
    right: 31%;
        }
    }


}

#whyus{
    padding: 30px 0px;
    padding-bottom: 100px;
    .content_why{
        width: 1228px;
        height: 600px;
        border-radius: 40px;
        margin: auto;
        background-color: $primary_color;
        padding: 50px;
        display: flex;
        gap: 15px;

        .year{
            width: 305px;
            height: 64px;
            border-radius: 10px;
            background-color: $secondary_color;
            margin-top: 10px;
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 0px 15px;
            h3{
                font-size: 32px;
                font-weight: 700;
                color: $primary_color;
            }
            span{
                display: block;
                font-size: 16px;
                font-weight: 500;
                color: $primary_color;
                width: 88px;
            }
        }

        .right_item{
            h2{
                font-size: 28px;
                font-weight: 500;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                margin: 21px 0px;
                width: 741px;
            }
        }
    }
    
}


