<div class="landing">
  <div class="container">
    <div class="content_land">
      <div class="content">
        <div class="title">
          <span class="odoo">Odoo Integration </span>
          <h2>
            Connect Your <span class="change_color">Business</span> With Odoo
          </h2>
        </div>
        <p>
          Solvelist Software Solutions is the right expertise with hands-on
          experience in integrating business with Odoo. We serve IT solutions
          and build better networks. Our domain platforms are CRM, sales,
          purchase, inventory management, accounting, e-commerce, school
          management systems, and much more. Choose Akira Software Solutions!!
          Let’s Do It!!
        </p>
      </div>

      <img src="assets/intergration/land.png" alt="custom" />
    </div>
  </div>
</div>

<div class="heading">
  <div class="glopal_heading">
    <h2>How Can You Integrate <span class="change_color"> Business With Odoo ?</span></h2>
    <p>
      Let us manage your organization via Odoo, an open-source ERP software. A
      one-stop platform to track the entire system of project management to
      sales, CRM, Human resources, Finance, Inventory Management to Logistic
      Operation, and e-commerce to name just a few. Innovation in every step...
      Join our journey!
    </p>
  </div>
</div>


<section id="odoo_integ">
    <div class="content_integ">
        <div class="top">

            <img src="assets/intergration/photo1.png" alt="photo">

            <div class="content">
                <h3>Why do you need <span class="change_color">Odoo Integration?</span> </h3>
                <ul>
                    <li>Increases overall productivity</li>
                    <li>Saves valuable time</li>
                    <li>Minimizing the cost of manpower</li>
                    <li>Cost-effective</li>
                </ul>
    
            </div>
          
        </div>

        <div class="body">
            <div class="content">
                <h3>Why Our Specialists?</h3>
                <ul>
                    <li>User-friendly</li>
                    <li>Modular</li>
                    <li>Flexible System</li>
                    <li>Expert Developers</li>
                    <li>Entire Control of your business</li>
                    <li>Entire control of your business </li>
                    <li>Reach larger customers</li>
    
                </ul>
            </div>
            <img src="assets/intergration/photo2.png" alt="photo2">
       
        </div>

    </div>

</section>



<section id="support">
    <div class="content_support">
      <div class="content">
        <ul>
            <li>Odoo Integration with Microsoft Azure Intune</li>
            <li>Payment Gateway Integration</li>
            <li>GPS integration</li>
            <li>Weigh Bridge Automation System</li>
            <li>Odoo Integration with Magneto</li>
            <li>Odoo Integration with Quickbooks </li>
        </ul>
      </div>
      <img src="assets/intergration/photo3.png" class="img1" alt="">
     
      <img src="assets/overview/texture3.png" alt="texture" class="texture3">
    </div>
  </section>


  
<section id="whyus">
    <div class="content_why">
      <div class="left_item">
        <img src="assets/about/why1.png" alt="why" class="img_left" />
        <div class="year">
          <h3>42 +</h3>
          <span>Years of Experience</span>
        </div>
      </div>
  
      <div class="right_item">
          <h2>What’s Odoo API  <span class="change_color">Integration?</span></h2>
  
          <p>
            Odoo API Integration is committed to better business. It determines the way different components of Odoo operate. Our expert Odoo developers customize Odoo API Integration to run your business the way it needs.
          </p>
          <img src="assets/about/why2.png" alt="" class="img_right">
      </div>
    </div>
  </section>
  

