<div class="landing">
  <div class="container">
    <div class="content_land">
      <div class="content">
        <div class="title">
          <span class="odoo">Odoo Support </span>
          <h2>
            Support your
            <span class="change_color">Business</span>workflow
          </h2>
        </div>
        <p>
          Customer satisfaction is our motto… We at Akira Software Solutions
          provide Odoo support lending quick responses for different kinds of
          technical issues. Let us guide you in bug fixing, customizing, and
          other technical support at needed times.
        </p>
      </div>

      <img src="assets/support/support.png" alt="custom" />
    </div>
  </div>
</div>

<section id="better">
  <div class="container">
    <div class="items">
      <div class="item">
        <div class="img">
          <img src="assets/support/icon1.png" alt="screen" />
        </div>
        <div class="content">
          <h4>Instant Support</h4>
          <p>
            True service is our success mantra. Our technical experts are
            available at your service with prompt responses.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="assets/support/icon1.png" alt="screen" />
        </div>
        <div class="content">
          <h4>Business Management Solution</h4>
          <p>
            We undergo keen research on business requirements and provide
            support to efficiently growth and productivity.
          </p>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="assets/support/icon1.png" alt="screen" />
        </div>
        <div class="content">
          <h4>100% Happy Customers</h4>
          <p>
            “Service is our main purpose”. The expert hands of professionals at
            Solvelist Software Solutions provide constant support and rectify
            any unprecedented errors.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="support">
    <div class="content_support">
      <div class="content">
        <h2>Odoo <span class="change_color">Support</span> </h2>
        <p>Lorem ipsum dolor sit amet consectetur. Et vitae sociis habitant eget eget ac tellus. Tortor molestie parturient ipsum montes.</p>
        <ul>
            <li>The right choice for you</li>
            <li>We ensure secured implementation</li>
            <li>Stable operation is ensured after Odoo Implementation and Odoo Migration</li>
            <li>We provide constant support on customizing, documenting, and bug fixing</li>
            <li>Unique expertise with large number of successful projects</li>
            <li>Our passionate team of Odoo developers, provide spontaneous support and constantly monitor the system.</li>
        </ul>
      </div>
      <img src="assets/intergration/photo3.png" alt="" class="photo">
     
      <img src="assets/overview/texture3.png" alt="texture3" class="texture3">
      <img src="assets/overview/texture2.png" alt="texture2" class="texture2">
    </div>
  </section>


  
  
<section id="concept">
    <!-- <div class="container"> -->
        <div class="content_concept">
            <div class="line"></div>
            <div class="content">
                <h2>I Have a concepts in mind . Let’s bring it to life and make it great .</h2>
                <p>Contact us now. We would love to hear from you!</p>
            </div>
    
            <div class="apply">
                <button>let,s talk</button>
                <i class="fa-solid fa-arrow-right"></i>
    
            </div>
           
        </div>
    <!-- </div> -->
 

</section>
  